<div id="about">
    <section>
        <ul class="tabs">
            <li>
                <input type="radio" name="tabs" id="tab1" checked>
                <label for="tab1" class="unselectable">About me</label>
                <p class="plainText">
                    Hello there, I am Damian, a guy from Silistra, Bulgaria, 19 years of age. What I like to do is creating different stuff. Stuff like websites, games, apps, etc. Therefore, my passion lies in programming, problem solving and bringing fresh ideas to life. Even before I got my hands on actual programming, I loved to create web pages using Photoshop, HTML and CSS. At some point of my life, I really liked modeling 3D characters, cars, planes, houses and other stuff. But what I really love doing is programming. Transforming a blank randomFile.cs into a correctly working application with only using a keyboard, a mouse and a brain feels amazing. The harder the task is – the better. My language pool includes C#, JS, HTML, CSS and others. You can view all of the technologies that I have experience with here, and the projects that I have created or worked on in my portfolio.
            </li>
            <li>
                <input type="radio" name="tabs" id="tab2">
                <label for="tab2" class="unselectable">Sertificates</label>
                <p class="plainText">
                    tab2 content
                </p>
            </li>
            <li>
                <input type="radio" name="tabs" id="tab3">
                <label for="tab3" class="unselectable">CV & Autobiography</label>
                <p class="plainText">
                    tab3 content
                </p>
            </li>
        </ul>
    </section>
    <div class="background2"></div>
    <div class="background"></div>
</div>