<div id="contacts">
    <div class="cnt">
        <section class="pageTitle">
            <h2>Contacts</h2>
        </section>
        <div>
            Feel free to write to me anytime, especially if you want to become my next girlfriend
        </div>
        <p>Email: <span>damian.dobrev@gmail.com</span></p>
        <p>Phone: <span>(+359) 879 896448</span></p>
        <p>Skype: <span>damian.dobrev</span></p>
    </div>

    <div class="background"></div>
    <div class="background2"></div>
</div>