<div id="skills">
    <section class="pageTitle">
        <h2>Skills</h2>
    </section>
    <ul>
        <li>
            <article>C#</article>
            <div></div>
            <section></section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis dolore excepturi, ipsum itaque maiores omnis quas qui quisquam quod? Architecto atque commodi est ex iure maiores qui sint, ut.</p>
        </li>
        <li>
            <article>Java</article>
            <div></div>
            <section></section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis dolore excepturi, ipsum itaque maiores omnis quas qui quisquam quod? Architecto atque commodi est ex iure maiores qui sint, ut.</p>
        </li>
        <li>
            <article>JavaScript</article>
            <div></div>
            <section></section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis dolore excepturi, ipsum itaque maiores omnis quas qui quisquam quod? Architecto atque commodi est ex iure maiores qui sint, ut.</p>
        </li>
        <li>
            <article>HTML</article>
            <div></div>
            <section></section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis dolore excepturi, ipsum itaque maiores omnis quas qui quisquam quod? Architecto atque commodi est ex iure maiores qui sint, ut.</p>
        </li>
        <li>
            <article>CSS</article>
            <div></div>
            <section></section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis dolore excepturi, ipsum itaque maiores omnis quas qui quisquam quod? Architecto atque commodi est ex iure maiores qui sint, ut.</p>
        </li>
    </ul>
</div>