<div id="skills">
    <section class="pageTitle">
        <h2>Skills</h2>
    </section>
    <ul>
        <li ng-repeat="item in skillsItems"
            ng-mouseover="itemWidthStyle={width: item.knowledgePercent+'%'}"
            ng-mouseleave="itemWidthStyle={width: '0'}"
            ng-click="showPopup(item)">
            <article ng-bind="item.name"></article>
            <div ng-style="itemWidthStyle"></div>
            <section></section>
        </li>
    </ul>
    <div class="popup">
        <div ng-click="closePopup()"></div>
        <section>
            <header>
                <span ng-bind="itemInfo.name"></span>
                <button ng-click="closePopup()">X</button>
            </header>
            <article ng-bind="itemInfo.description">
            </article>
            <footer>
                Skill level: <span ng-bind="itemInfo.knowledgePercent"></span>%
            </footer>
        </section>
    </div>
</div>